---
import "@fontsource/jetbrains-mono";
import { CONTAINER } from "src/lib/constant";

export interface Props {
  about: string;
}

const { about } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const title = "Jeremy Zabala - Developer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={about} />
    <meta name="theme-color" content="#000" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={about} />
    <meta property="og:image" content={`${Astro.site}banner.png`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={about} />
    <meta property="twitter:image" content={`${Astro.site}banner.png`} />

    <!-- Analytics -->
    <script async src="https://cdn.splitbee.io/sb.js"></script>
  </head>

  <body class="bg-black text-white font-body">
    <main class={`${CONTAINER} m-auto flex flex-col p-4`}>
      <slot />
    </main>
  </body>
</html>
